*.dbg
*.bin
*.exe
bin/x86/horizon_*
bin/amd64/horizon_*
bin/horizon_*
bin/horizon.app/Contents/MacOS/horizon_universal
src/.objs/
src/horizon.layout
src/horizon.depend
src/vcpp/horizon.res
*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
out
*~
.directory
.DS_Store
*.orig
*.rej
*.bak
*.kate-swp
*.core
*.diff
*.patch
*.out
home/
cache/
branch.txt
version.txt
*/version.txt
src/xcode/build/*
src/xcode/horizon.xcodeproj/project.pbxproj
src/xcode/horizon.xcodeproj/project.xcworkspace
src/xcode/horizon.xcodeproj/xcuserdata
